
<% if(typeof err !='undefined'){%>
    <h3><%=err%></h3>
    <%}%>

    <% if(typeof succ !='undefined'){%>
        <h3><%=err%></h3>
        <%}%>


<h1>Student</h1><br>
<h1>Welcome <%= name %></h1>
<h1>email : <%= email %></h1>
<h1>coaching : <%= coaching %></h1>
<img src="data:image/png;base64,<%=image.toString('base64')%>">

subject 1 : <a href="/room/73b29873-c0bb-48e5-9427-a288646e5ae7" target="_blank">join</a>

<h1>Links</h1>
<%links.forEach(link=>{%>
    <h1><%=link.coaching%></h1>
    <%link.subjects.forEach(data=>{%>
        <h3><%=data%></h3><a href="/room/<%=data%><%=link.coaching%><%=clas%>">JOIN</a>
    <%})%>
<%})%>

<form action="/logout" method="get">
<button>logout</button>
</form>

<h1>Add coaching</h1>

<form action="/addcoaching" method="post">
    <input type="text" name="coaching" placeholder="coaching">
    <select name="subject" id="subject">
        <option value="Physics">Physics</option>
        <option value="Maths">Maths</option>
        <option value="Chemistry">Chemistry</option>
    </select>
    <button type="submit">submit</button>
</form>

<h1>Notes</h1>
<div id="note">
    <% coach.forEach(coach=>{ %>
       <h2><%=coach.subject%></h2><br>
            <% coach.notes.forEach(note=>{ %>
        <a href="data:application/pdf;base64,<%=note.file.toString('base64')%>" download="<%=note.fileName%>"><%=note.fileName%></a><br>
                <%})%>
  <%  }) %>
</div>

<h1>submit assignments</h1>

<form action="/submit" method="post" enctype="multipart/form-data">
    <input type="text" name="coaching" placeholder="coaching">
    <input type="subject" name="subject" placeholder="subject">
    <input type="file" name="file">
    <button type="submit">Submit</button>
</form>