<link rel="stylesheet" href="/css/teacher-search.css">

<div class="main-content">
    <h1>Know about your Teachers</h1>

    <input type="text" placeholder="search by username" onkeyup="myFunction()">

    <div class="search-result">
        <table class="table">
            <tr class="table__row">
                <th class="table__item">Name</th>
                <th class="table__item">Coaching</th>
                <th class="table__item">Price</th>
                <th class="table__item">Subject</th>
                <th class="table__item">Class</th>
                <th class="table__item">image</th>
            </tr>
            <% if(typeof teacher !='undefined'){%>
                <%teacher.forEach(data=>{%>
                    <tr class="table__row" >
                        <td class="table__data"><%= data.name%></td>
                        <td class="table__data"><%= data.coaching%></td>
                        <td class="table__data"></td>
                        <td class="table__data"><%= data.subject%></td>
                        <!-- <td><%= data.price%></td> -->
                        <td class="table__data"><%= data.class%></td>
                        <td class="table__data"><img height="50" width="50" src="data:image/png;base64,<%=data.avatar.toString('base64')%>" alt=""></td>
                    </tr>
                <% })}%>
        </table>
    </div>

</div>

<script>
        function myFunction(){
            var row = document.querySelectorAll('tr')
            var value = document.querySelector('input').value.toUpperCase();
            console.log(value)
            for(let i = 1;i<row.length;i++)
            
            {   
                
                
                var col = row[i].querySelectorAll('td');

                for(let j=0;j<col.length;j++)
                {
                    if(col[j].textContent.toUpperCase().indexOf(value)>-1)
                    {
                    row[i].style.display=''
                    break;
                    }
                    else
                    {
                        row[i].style.display='none'
                    }
                    
                }
            }
        }
</script>